body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;
  background-image: url(stars-star-gazing.gif);
}

h1 {
  font-size: 50px !important;
}
#score {
  color: white !important;
}

.mobile {
  padding: 50px;
}

.headline {
  font-size: 550px;
}

.float-container {
  padding: 50px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.start-button {
  position: absolute;
}

.hidden {
  display: none;
}

.button {
  width: 250px;
  height: 250px;
}

#sound1.shine {
  background-color: rgb(239, 72, 111);
}

#sound2.shine {
  background-color: rgb(255, 209, 102);
}

#sound3.shine {
  background-color: rgb(6, 214, 160);
}

#sound4.shine {
  background-color: rgb(17, 138, 178);
}

#sound1 {
  border-top-left-radius: 250px;

  background-color: rgb(239, 72, 111, 0.7);
}

#sound2 {
  border-top-right-radius: 250px;

  background-color: rgb(255, 209, 102, 0.7);
}
#sound3 {
  border-bottom-left-radius: 250px;

  background-color: rgb(6, 214, 160, 0.7);
}
#sound4 {
  border-bottom-right-radius: 250px;

  background-color: rgb(17, 138, 178, 0.7);
}

.header-style {
  background: rgb(39, 38, 38, 0.8);
  border-radius: 20px;
  padding: 10px;
  margin: 40px;
  color: antiquewhite;
}

@media screen and (max-width: 550px) {
  .test {
    border: 5px solid black;
    width: 140px;
    height: 140px;
  }
  .start-button-image {
    width: 350px;
  }
}

@media only screen and (min-width: 551px) {
  .test {
    border: 5px solid black;
    width: 250px;
    height: 250px;
  }
}
